<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!-->
<html lang="en" style="background-color: #f0f4f5;">
<!--<![endif]-->
{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

<body>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    {% block header %}
    {% include "includes/header-servicename.html" %}
    {% endblock %}

    {% block content %}

    {% include "includes/breadcrumb.html" %}

    <form method="POST">
        <div class="nhsuk-width-container">
            <main class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h3 class="nhsuk-card__heading">{{ pageName }}</h3>
                                <p class="nhsuk-card__description">We would like to determine the organisation details.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-card--feature">
                            <div class="nhsuk-card__content nhsuk-card__content--feature">
                                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                                    Location using Data Sharing Agreement Details
                                </h2>
                                <div class="nhsuk-form-group{% if 'siteOdsCode' in notCompletedArray %} nhsuk-form-group--error{% endif %}">
                                    <label class="nhsuk-label" for="input-site-ods-code">Site ODS Code</label>
                                    <div class="nhsuk-hint" id="input-site-ods-code-with-hint-text-hint">The site ODS code uniquely identifies the organisation and we will use it to establish the entity to which the agreement applies.</div>

                                    {% if 'siteOdsCode' in notCompletedArray %}
                                    <span class="nhsuk-error-message" id="input-site-ods-code-with-error">
                                        <span class="nhsuk-u-visually-hidden">Error:</span> You must enter a value for Site ODS Code
                                    </span>
                                    {% endif %}

                                    <input class="nhsuk-input{% if 'siteOdsCode' in notCompletedArray %} nhsuk-input--error{% endif %}" id="input-site-ods-code" name="siteOdsCode" type="text" aria-describedby="input-site-ods-code-with-hint-text-hint" value="{{ visited.siteOdsCode }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if visited.haveOrganisationDetails %}

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <dl class="nhsuk-summary-list">
                            <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Organisation Name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                {{ visited.organisationName }}
                            </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Organisation Address
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            {{ visited.organisationBuilding }} {{ visited.organisationStreet }}<br />{{ visited.organisationTown }}<br />
                            {{ visited.organisationPostcode }}
                        </dd>
                    </div>
                    </dl>
                </div>


        </div>
        {% endif %}
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <button value="getorganisation" class="nhsuk-button nhsuk-button--secondary" name="action">Find Organisation</button>
            </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <button value="submitformvalues" class="nhsuk-button nhsuk-button--primary" name="action">Continue</button>
            </div>
        </div>
        </main>
        </div>
    </form>
    {% endblock %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock %}


</body>
</html>