<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!-->
<html lang="en" style="background-color: #f0f4f5;">
<!--<![endif]-->
{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

<body>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    {% block header %}
    {% include "includes/header-servicename.html" %}
    {% endblock %}

    {% block content %}

    {% include "includes/breadcrumb.html" %}

    <form action="/review" method="POST">

        <div class="nhsuk-width-container">
            <main class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h3 class="nhsuk-card__heading">Review</h3>
                                <p class="nhsuk-card__description">We would like you to review the responses you have previously provided.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-card--feature">
                            <div class="nhsuk-card__content nhsuk-card__content--feature">
                                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                                    Supplier and Product Details
                                </h2>
                                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                                    <div class="nhsuk-summary-list__row">
                                    <dt class="nhsuk-summary-list__key">Supplier Name</dt>
                                    <dd class="nhsuk-summary-list__value">{{ visited.supplierName }}</dd>
                            </div>
                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Product Name</dt>
                                <dd class="nhsuk-summary-list__value">{{ visited.productName }}</dd>
                                <dd class="nhsuk-summary-list__actions"><a href="/step-1">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
                            </div>
                            </dl>
                        </div>
                    </div>
                </div>
        </div>
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card nhsuk-card--feature">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                            Your Organisation's Details
                        </h2>
                        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                            <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Organisation Name</dt>
                            <dd class="nhsuk-summary-list__value">{{ visited.organisationName }}</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Organisation Address</dt>
                        <dd class="nhsuk-summary-list__value">{{ visited.organisationBuilding }}<br />{{ visited.organisationStreet }}<br /> {{ visited.organisationTown }}<br />{{ visited.organisationPostcode }}</dd>
                        <dd class="nhsuk-summary-list__actions"><a href="/step-2">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
                    </div>
                    </dl>
                </div>
            </div>
        </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card nhsuk-card--feature">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                            Signatories Details
                        </h2>
                        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                            <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Full Name</dt>
                            <dd class="nhsuk-summary-list__value">{{ visited.signatoryName }}</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Job Title</dt>
                        <dd class="nhsuk-summary-list__value">{{ visited.signatoryJobTitle }}</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Email Address</dt>
                        <dd class="nhsuk-summary-list__value">{{ visited.signatoryEmail }}</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Proxy Declaration</dt>
                        <dd class="nhsuk-summary-list__value">
                            {% if visited.signatoryProxyDeclaration === 'true' %}
                            <span>I am the signatory</span>
                            {% else %}
                            <span>I am completing this agreement on behalf of this signatory</span>
                            {% endif %}
                        </dd>
                        <dd class="nhsuk-summary-list__actions"><a href="/step-3">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
                    </div>
                    </dl>
                </div>
            </div>
        </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card nhsuk-card--feature">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                            Care Settings
                        </h2>
                        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                            <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Care Setting</dt>
                            <dd class="nhsuk-summary-list__value">{{ visited.careSetting }}</dd>
                            <dd class="nhsuk-summary-list__actions"><a href="/step-4">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
                    </div>
                    </dl>
                </div>
            </div>
        </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card nhsuk-card--feature">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                            Reason for the Agreement
                        </h2>
                        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                            <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Reason for the Agreement</dt>
                            <dd class="nhsuk-summary-list__value">{{ visited.reasonAgreement }}</dd>
                            <dd class="nhsuk-summary-list__actions"><a href="/step-5">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
                    </div>
                    </dl>
                </div>
            </div>
        </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">

            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card nhsuk-card--feature">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                            Agree to the National Data Sharing Agreement
                        </h2>
                        <p class="nhsuk-card__description">
                            <div class="nhsuk-action-link">
                                <a class="nhsuk-action-link__link" target="_blank" href="https://digital.nhs.uk/services/gp-connect">
                                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                                    </svg>
                                    <span class="nhsuk-action-link__text">Download the National Data Sharing Agreement</span>
                                </a>
                            </div>
                        </p>
                        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                            <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Consent to the Agreement</dt>
                            <dd class="nhsuk-summary-list__value">
                                {% if visited.agreeAgreement === 'true' %}
                                <span>&#x2713;</span>
                                {% else %}
                                <span>&#10007;</span>
                                {% endif %}
                            </dd>
                            <dd class="nhsuk-summary-list__actions"><a href="/step-7">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
                    </div>
                    </dl>
                </div>
            </div>
        </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h5 class="nhsuk-card__heading">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</h5>
                        <button class="nhsuk-button nhsuk-button--primary">Accept and Send</button>
                    </div>
                </div>
            </div>
        </div>
        </main>
        </div>
    </form>
    {% endblock %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock %}
</body>
</html>