<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!-->
<html lang="en" style="background-color: #f0f4f5;">
<!--<![endif]-->
{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

<body>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    {% block header %}
    {% include "includes/header-servicename.html" %}
    {% endblock %}

    {% block content %}
    {% include "includes/breadcrumb.html" %}

    <form action="/step-1" method="POST">

        <div class="nhsuk-width-container">
            <main class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h3 class="nhsuk-card__heading">{{ pageName }}</h3>
                                <p class="nhsuk-card__description">We would like to capture some details about the supplier and products.</p>
                                <p class="nhsuk-card__description">Please note that all fields marked with a * are compulsory.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-card--feature">
                            <div class="nhsuk-card__content nhsuk-card__content--feature">
                                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                                    Supplier Name
                                </h2>
                                <div class="nhsuk-form-group{% if 'supplierName' in notCompletedArray %} nhsuk-form-group--error{% endif %}">
                                    <div class="nhsuk-hint" id="input-supplier-name-with-hint-text-hint">* Please select the supplier</div>

                                    {% if 'supplierName' in notCompletedArray %}
                                    <span class="nhsuk-error-message" id="input-supplier-name-with-error">
                                        <span class="nhsuk-u-visually-hidden">Error:</span> You must enter a value for Supplier Name
                                    </span>
                                    {% endif %}

                                    <select class="nhsuk-select{% if 'supplierName' in notCompletedArray %} nhsuk-select--error{% endif %}" id="input-supplier-name" name="supplierName">
                                        <option value=""></option>
                                        <option {% if visited.supplierName === 'Advanced' %} selected {% endif %} value="Advanced">Advanced</option>
                                        <option {% if visited.supplierName === 'Appt Health (MW)' %} selected {% endif %} value="Appt Health (MW)">Appt Health (MW)</option>
                                        <option {% if visited.supplierName === 'AT Tech' %} selected {% endif %} value="AT Tech">AT Tech</option>
                                        <option {% if visited.supplierName === 'Cambridge' %} selected {% endif %} value="Cambridge">Cambridge</option>
                                        <option {% if visited.supplierName === 'Care Banking' %} selected {% endif %} value="Care Banking">Care Banking</option>
                                        <option {% if visited.supplierName === 'Cleric' %} selected {% endif %} value="Cleric">Cleric</option>
                                        <option {% if visited.supplierName === 'Devon' %} selected {% endif %} value="Devon">Devon</option>
                                        <option {% if visited.supplierName === 'DXC Lorenzo' %} selected {% endif %} value="DXC Lorenzo">DXC Lorenzo</option>
                                        <option {% if visited.supplierName === 'EGTON MEDICAL INFORMATION SYSTEMS LTD (EMIS)' %} selected {% endif %} value="EGTON MEDICAL INFORMATION SYSTEMS LTD (EMIS)">EGTON MEDICAL INFORMATION SYSTEMS LTD (EMIS)</option>
                                        <option {% if visited.supplierName === 'Eva' %} selected {% endif %} value="Eva">Eva</option>
                                        <option {% if visited.supplierName === 'Everylife Technologies' %} selected {% endif %} value="Everylife Technologies">Everylife Technologies</option>
                                        <option {% if visited.supplierName === 'HBS' %} selected {% endif %} value="HBS">HBS</option>
                                        <option {% if visited.supplierName === 'Humber (Upstream/YHCR)' %} selected {% endif %} value="Humber (Upstream/YHCR)">Humber (Upstream/YHCR)</option>
                                        <option {% if visited.supplierName === 'IC24' %} selected {% endif %} value="IC24">IC24</option>
                                        <option {% if visited.supplierName === 'Intersystems' %} selected {% endif %} value="Intersystems">Intersystems</option>
                                        <option {% if visited.supplierName === 'Leeds Teaching Hospital' %} selected {% endif %} value="Leeds Teaching Hospital">Leeds Teaching Hospital</option>
                                        <option {% if visited.supplierName === 'Meddbase' %} selected {% endif %} value="Meddbase">Meddbase</option>
                                        <option {% if visited.supplierName === 'Medloop' %} selected {% endif %} value="Medloop">Medloop</option>
                                        <option {% if visited.supplierName === 'Medusa' %} selected {% endif %} value="Medusa">Medusa</option>
                                        <option {% if visited.supplierName === 'MIS-ES' %} selected {% endif %} value="MIS-ES">MIS-ES</option>
                                        <option {% if visited.supplierName === 'Nervecentre' %} selected {% endif %} value="Nervecentre">Nervecentre</option>
                                        <option {% if visited.supplierName === 'North Lincs & Goole' %} selected {% endif %} value="North Lincs & Goole">North Lincs & Goole</option>
                                        <option {% if visited.supplierName === 'Nourish' %} selected {% endif %} value="Nourish">Nourish</option>
                                        <option {% if visited.supplierName === 'Person Centred Software (PCS)' %} selected {% endif %} value="Person Centred Software (PCS)">Person Centred Software (PCS)</option>
                                        <option {% if visited.supplierName === 'Plymouth' %} selected {% endif %} value="Plymouth">Plymouth</option>
                                        <option {% if visited.supplierName === 'Push Dr' %} selected {% endif %} value="Push Dr">Push Dr</option>
                                        <option {% if visited.supplierName === 'Restart' %} selected {% endif %} value="Restart">Restart</option>
                                        <option {% if visited.supplierName === 'Servelec' %} selected {% endif %} value="Servelec">Servelec</option>
                                        <option {% if visited.supplierName === 'Sussex LHCR' %} selected {% endif %} value="Sussex LHCR">Sussex LHCR</option>
                                        <option {% if visited.supplierName === 'Sussex Partnership Foundation Trust (SPFT)' %} selected {% endif %} value="Sussex Partnership Foundation Trust (SPFT)">Sussex Partnership Foundation Trust (SPFT)</option>
                                        <option {% if visited.supplierName === 'The Phoenix Partnership Ltd' %} selected {% endif %} value="The Phoenix Partnership Ltd">The Phoenix Partnership Ltd</option>
                                        <option {% if visited.supplierName === 'Vision' %} selected {% endif %} value="Vision">Vision</option>
                                        <option {% if visited.supplierName === 'Yorkshire & Humber' %} selected {% endif %} value="Yorkshire & Humber">Yorkshire & Humber</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-card--feature">
                            <div class="nhsuk-card__content nhsuk-card__content--feature">
                                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                                    Products
                                </h2>
                                <div class="nhsuk-form-group{% if 'productName' in notCompletedArray %} nhsuk-form-group--error{% endif %}">
                                    <fieldset class="nhsuk-fieldset">
                                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                            * Select the GP Connect product(s) you wish to access
                                        </legend>

                                        {% if 'productName' in notCompletedArray %}
                                        <span class="nhsuk-error-message" id="input-product-name-with-error">
                                            <span class="nhsuk-u-visually-hidden">Error:</span> You must select a Product
                                        </span>
                                        {% endif %}

                                        <div class="nhsuk-checkboxes">
                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" id="nhsuk-access-record-html" name="productName" type="checkbox" value="accessRecordHtml" aria-describedby="nhsuk-access-record-html-hint">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsuk-access-record-html">Access Record HTML</label>
                                                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="nhsuk-access-record-html-hint">
                                                    <a href="#">What is Access Record HTML?</a>
                                                </div>
                                            </div>
                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" id="nhsuk-access-record-structured-1" name="productName" type="checkbox" value="accessRecordStructured1" aria-describedby="nhsuk-access-record-structured-1-hint">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsuk-access-record-structured-1">Access Record Structured v1</label>
                                                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="nhsuk-access-record-structured-1-hint">
                                                    <a href="#">What is Access Record Structured v1?</a>
                                                </div>
                                            </div>
                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" id="nhsuk-access-record-structured-2" name="productName" type="checkbox" value="accessRecordStructured2" aria-describedby="nhsuk-access-record-structured-2-hint">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsuk-access-record-structured-2">Access Record Structured v2</label>
                                                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="nhsuk-access-record-structured-2-hint">
                                                    <a href="#">What is Access Record Structured v2?</a>
                                                </div>
                                            </div>
                                            <div class="nhsuk-checkboxes__item">
                                                <input class="nhsuk-checkboxes__input" id="nhsuk-access-record-appointments" name="productName" type="checkbox" value="accessRecordAppointments" aria-describedby="nhsuk-access-record-appointments-hint">
                                                <label class="nhsuk-label nhsuk-checkboxes__label" for="nhsuk-access-record-appointments">Appointment Management</label><div class="nhsuk-hint nhsuk-checkboxes__hint" id="nhsuk-access-record-appointments-hint">
                                                    <a href="#">What is Appointment Management?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <button class="nhsuk-button nhsuk-button--primary">Continue</button>
                    </div>
                </div>
            </main>
        </div>
    </form>
    {% endblock %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock %}
</body>
</html>