<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!-->
<html lang="en" style="background-color: #f0f4f5;">
<!--<![endif]-->
{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

<body>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    {% block header %}
    {% include "includes/header-servicename.html" %}
    {% endblock %}

    {% block content %}

    {% include "includes/breadcrumb.html" %}

    <form action="/step-5" method="POST">

        <div class="nhsuk-width-container">
            <main class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h3 class="nhsuk-card__heading">Step 5 - Signup Process</h3>
                                <p class="nhsuk-card__description">We would like to capture some details about the reason for the agreement.</p>
                                <p class="nhsuk-card__description">Please note that all fields marked with a * are compulsory.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-card--feature">
                            <div class="nhsuk-card__content nhsuk-card__content--feature">
                                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                                    Reason for the Agreement
                                </h2>
                                <div class="nhsuk-form-group{% if 'reasonAgreement' in notCompletedArray %} nhsuk-form-group--error{% endif %}">
                                    <div class="nhsuk-hint" id="input-reason-agreement-hint">
                                        * Please be as descriptive as you can possibly be without going into specific detail
                                    </div>

                                    {% if 'reasonAgreement' in notCompletedArray %}
                                    <span class="nhsuk-error-message" id="input-signatory-name-with-error">
                                        <span class="nhsuk-u-visually-hidden">Error:</span> You must enter a value for Reason for the Agreement
                                    </span>
                                    {% endif %}

                                    <textarea class="nhsuk-textarea {% if 'reasonAgreement' in notCompletedArray %} nhsuk-textarea--error{% endif %}" id="input-reason-agreement" name="reasonAgreement" rows="2" aria-describedby="input-reason-agreement-hint">{{ visited.reasonAgreement }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <button class="nhsuk-button nhsuk-button--primary">Continue</button>
                    </div>
                </div>
            </main>
        </div>
    </form>
    {% endblock %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock %}
</body>
</html>