<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!-->
<html lang="en" style="background-color: #f0f4f5;">
<!--<![endif]-->
{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

<body>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    {% block header %}
    {% include "includes/header-servicename.html" %}
    {% endblock %}

    {% block content %}

    {% include "includes/breadcrumb.html" %}

    <form action="/step-6" method="POST">

        <div class="nhsuk-width-container">
            <main class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h3 class="nhsuk-card__heading">Step 6 - Signup Process</h3>
                                <p class="nhsuk-card__description">We would like you to read the National Data Sharing Agreement which you can download on this page.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <div class="nhsuk-action-link">
                                    <a class="nhsuk-action-link__link" target="_blank" href="https://digital.nhs.uk/services/gp-connect">
                                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                                        </svg>
                                        <span class="nhsuk-action-link__text">Download the National Data Sharing Agreement</span>
                                    </a>
                                </div>
                                <h3 class="nhsuk-card__heading">Data Sharing Agreement</h3>
                                <p class="nhsuk-card__description">This is a high level data sharing agreement that you can use to outline the basics of personal data sharing between organisations.</p>
                                <p class="nhsuk-card__description">You must complete a Data Protection Impact Assessment (DPIA) if the processing of personal data is likely to result in a high risk to an individual's rights and freedoms. This is mandatory.</p>
                                <h4 class="nhsuk-card__heading">Who should complete this form?</h4>
                                <p class="nhsuk-card__description">This template agreement should be completed by all parties involved in the specific project or programme that involves the sharing of personal data.</p>
                                <h4 class="nhsuk-card__heading">Help filling in the form</h4>
                                <p class="nhsuk-card__description">Please refer to the&hellip;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <button class="nhsuk-button nhsuk-button--primary">Continue</button>
                    </div>
                </div>
            </main>
        </div>
    </form>
    {% endblock %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock %}
</body>
</html>