<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!-->
<html lang="en" style="background-color: #f0f4f5;">
<!--<![endif]-->
{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

<body>
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    {% block header %}
    {% include "includes/header-servicename.html" %}
    {% endblock %}

    {% block content %}

    {% include "includes/breadcrumb.html" %}

    <form action="/step-2" method="POST">

        <div class="nhsuk-width-container">
            <main class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h3 class="nhsuk-card__heading">Step 2 - Signup Process</h3>
                                <p class="nhsuk-card__description">We would like to confirm the supplier and product to which this agreement will apply.</p>
                                <p class="nhsuk-card__description">Please note that all fields marked with a * are compulsory.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-card--feature">
                            <div class="nhsuk-card__content nhsuk-card__content--feature">
                                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                                    Supplier and Product Details
                                </h2>
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="input-supplier-name">Supplier Name</label>
                                    <div class="nhsuk-hint" id="input-supplier-name-with-hint-text-hint">* The name of the supplier of the product</div>
                                    <input class="nhsuk-input" id="input-supplier-name" name="supplierName" type="text" aria-describedby="input-supplier-name-with-hint-text-hint" value="{{ visited.supplierName }}">
                                </div>
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="input-product-name">Product Name</label>
                                    <div class="nhsuk-hint" id="input-product-name-with-hint-text-hint">* The name of the supplier</div>
                                    <input class="nhsuk-input" id="input-product-name" name="productName" type="text" aria-describedby="input-product-name-with-hint-text-hint" value="{{ visited.productName }}">
                                </div>
                                <div class="nhsuk-form-group">
                                    <label class="nhsuk-label" for="input-version-number">Release/Version Number</label>
                                    <div class="nhsuk-hint" id="input-version-number-with-hint-text-hint">* The release/version number of the product</div>
                                    <input class="nhsuk-input" id="input-version-number" name="versionNumber" type="text" aria-describedby="input-version-number-with-hint-text-hint" value="{{ visited.versionNumber }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <button class="nhsuk-button nhsuk-button--primary">Continue</button>
                    </div>
                </div>
            </main>
        </div>
    </form>
    {% endblock %}

    {% block footer %}
    {% include "includes/footer.html" %}
    {% endblock %}
</body>
</html>